<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Fira+Code" rel="stylesheet">


<aside class="logo">

	{% assign link = '/' %}
	{% assign prompt = 'Back to home' %}

    <a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
	<img src={{site.logo_url}} class="logo-avatar">
    </a>
    <span class="logo-prompt code">{{ prompt }}</span>
</aside>

<aside class="menu">

	<ul class="top-menu">
		{% if page.url != '/' %}
			{% assign link = '/' %}
			<li> <a href="{{ link | prepend: site.baseurl | prepend: site.url }}"> About </a> </li>
		{% else %}
			<li style="font-weight:bold;"> <a> About </a> </li>
		{% endif %}	

		{% if page.url != '/blog' %}
			{% assign link = '/blog' %}
			<li> <a href="{{ link | prepend: site.baseurl | prepend: site.url }}"> Blog </a> </li>
		{% else %}
			<li style="font-weight:bold;"> <a> Blog </a> </li>
		{% endif %}


		{% if page.url != '/coursework' %}
		    {% assign link = '/coursework' %}
		    <li> <a href="{{ link | prepend: site.baseurl | prepend: site.url }}"> Coursework </a> </li>
		{% else %}
		    <li style="font-weight:bold;"> <a> Coursework </a> </li>
		{% endif %}

		
	</ul>
	<ul class="bottom-menu">	
		{% if page.url != '/contact' %}
			{% assign link = '/contact' %}
			<li> <a href="{{ link | prepend: site.baseurl | prepend: site.url }}"> Contact </a> </li>
		{% else %}
			<li style="font-weight:bold;"> <a> Contact </a> </li>
		{% endif %}
	</ul>

</aside>
